body{
    font-family: Arial, Helvetica, sans-serif;
    
}

div{
    background-color: rgba(241, 241, 241, 0.377);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    height: 220px;
    padding: 120px;
    color: white;

}

h1{
    text-align: center;
    margin-top: -30px;
    
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid #00154B;
    height: 40px;
    width: 300px; 
    outline: none;
    color: white;
    font-size: 15px;
}

input::placeholder {
    font-size: 16px;
    color: white;
    opacity: 1; 
}

button{
    background-color: #00154B;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    color: white;
    font-size: 15px;
    cursor: pointer;

}
button:hover{
    border: white;
    background-color: #284eb1;
}

a{
    color: #00154B;
    text-align: right;
    display: block;
    margin-top: -8px;
}
